
body
{
	background: black;
	cursor: none;
}


video
{
	position: absolute;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}


section
{
	transition: all .250s;
	opacity: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4rem;
	perspective: 100rem;

	&.loaded
	{
		opacity: 1;
	}

	& > div
	{
		display: none;
		opacity: .15;
		transition: 150ms all;
		transform-style: preserve-3d;
		/* width: 53.33%; */
		background: transparent;

		img
		{
			width: 100%;
			/* max-width: var(--item-width); */
			height: auto;
		}

		&.prev,
		&.active,
		&.next
		{
			justify-content: center;
			display: flex;
			flex-direction: column;
			z-index: 2;
		}

		&.prev
		{
			transform: translateX(-10rem) rotateY(25deg);
		}

		&.active
		{
			z-index: 3;
			transform: translateZ(40rem);
			opacity: 1;

			h3
			{
				font-size: 5rem;
				color: white;
				position: absolute;
				text-align: center;
				left: 0;
				right: 0;
				width: 100%;
				bottom: -13rem;
			}

			img
			{
				box-shadow:0 0 10rem 3rem rgb(255 255 255 / 30%);
			}
		}

		&.next
		{
			transform: translateX(10rem) rotateY(-25deg);
		}
	}

}


[data-mode=Carousel]
{
	video { display: none !important}
	section { display: flex !important}
}


[data-mode=Video]
{
	video { display: block !important }
	section { display: none !important }
}